/* Estilos específicos para los modales */

.modal-content {
    background-color: var(--dark-secondary);
    border: 1px solid var(--gold);
    border-radius: 10px;
    color: white;
}

.modal-header {
    border-bottom: 1px solid var(--gold);
    padding: 1.5rem;
}

.modal-footer {
    border-top: 1px solid var(--gold);
    padding: 1.5rem;
}

.modal-title {
    color: var(--gold);
    font-weight: bold;
}

.close {
    color: var(--gold);
    opacity: 1;
}